
"""
This is an example file with email credentials for testing. Use your own particular email credentials here and
REMOVE '.example' from end of filename (or make sure that this filename is in .gitignore file!! as it must be private info)
"""

host = 'imap.gmail.com'
adress = 'some.mail@gmail.com'
passward = 'klgjdfgjlgkjldg'